<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="header">
      <div class="menu-btn">
        <div id="ln1" class="btn-line"></div>
        <div id="ln2" class="btn-line"></div>
        <div id="ln3" class="btn-line"></div>
      </div>

      <nav class="menu">
        <ul class="menu-nav">
          <li class="menu-items current">
            <a href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="menu-items">
            <a href="/services"><i class="fas fa-wrench "></i> Service</a>
          </li>
          <li class="menu-items">
            <a href="/gallery"><i class="fab fa-envira "></i> Gallery</a>
          </li>
          <li class="menu-items">
            <a href="/contact"
              ><i class="fas fa-envelope-square "></i> Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main class="page-content">
      <div class="top-page">
        <img
          src="/public/images/bullock-logo.jpg"
          class="img-logo"
          alt="the bull"
        />

        <div class="top-side">
          <h1 class="lg-heading">Bullock<small> Leather Works</small></h1>
          <h3 class="sm-heading">Exquisitely Unique</h3>
          <hr />

          <div class="icons">
            <a href="#"><i class="fab fa-facebook fa-4x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-4x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-4x"></i></a>
          </div>
        </div>
      </div>

      <div class="intro-info">
        <h3>
          At Bullock Leather Works(blw247) we believe that your feet is an
          important part of the body as well as every other part as well. We are
          a company that is structured to give you the best designs of leather
          works that would suit all occasions from shoes, wallets, belts,
          slippers and sandals.
        </h3>
      </div>

      <div class="buttons">
        <div class="place-order">Place Your Order?</div>
        <div class="place-order">Check-Out Our Gallery</div>
      </div>

      <div class="image-grid">
        <img
          id="img1"
          class="home-images"
          src="/public/images/black-mature.jpg"
        />
        <img
          id="img2"
          class="home-images"
          src="/public/images/brownish-red-show.jpg"
        />
        <img
          id="img3"
          class="home-images"
          src="/public/images/black-sweet-men.jpg"
        />
        <img id="img4" class="home-images" src="/public/images/blue-shoe.jpg" />
        <img
          id="img5"
          class="home-images"
          src="/public/images/purple-sandals.jpg"
        />
        <img
          id="img6"
          class="home-images"
          src="/public/images/black-leather-shoe.jpg"
        />
      </div>
    </main>

    <footer class="footer">
      <div class="bottom-block">
        <p class="copyright">Copyright &copy; 2018</p>
        <ul class="footer-nav">
          <li>Home</li>
          <li>Service</li>
          <li>Gallery</li>
          <li>Contact</li>
          <li>How to Order</li>
          <li>View Cart</li>
          <li>Delivery Policy</li>
          <li class="last-li">Return</li>
        </ul>

        <div class="foot-icons">
          <a href="#"><i class="fab fa-facebook foot"></i></a>
          <a href="#"><i class="fab fa-twitter foot"></i></a>
          <a href="#"><i class="fab fa-instagram foot"></i></a>
        </div>
      </div>
    </footer>
  </body>
  <script src="js\jquery-3.3.1.js"></script>
  <script src="js/slide.js"></script>
  <script src="/public/js/main.js"></script>
</html>
