<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Services</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="header">
      <div class="menu-btn">
        <div id="ln1" class="btn-line"></div>
        <div id="ln2" class="btn-line"></div>
        <div id="ln3" class="btn-line"></div>
      </div>

      <nav class="menu">
        <ul class="menu-nav">
          <li class="menu-items current">
            <a href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="menu-items">
            <a href="/services"><i class="fas fa-wrench "></i> Service</a>
          </li>
          <li class="menu-items">
            <a href="/gallery"><i class="fab fa-envira "></i> Gallery</a>
          </li>
          <li class="menu-items">
            <a href="/contact"
              ><i class="fas fa-envelope-square "></i> Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main class="page-content">
      <div class="top-page">
        <img
          src="/public/images/bullock-logo.jpg"
          class="img-logo"
          alt="the bull"
        />

        <div class="top-side">
          <h1 class="lg-heading">Bullock<small> Leather Works</small></h1>
          <h3 class="sm-heading">Exquisitely Unique</h3>
          <hr />

          <div class="icons">
            <a href="#"><i class="fab fa-facebook fa-4x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-4x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-4x"></i></a>
          </div>
        </div>
      </div>

      <div class="block-quote">
        <h3>
          At Bullock Leather Works (blw247) we believe that you feet is an
          important part of the body as well as every other part as well. But as
          we all know it is our feet that take us to places where we engage in
          whatever kind of business or pleasure we desire to partake in; so we
          take in into consideration that the feet should be treated mindfully.
          What you put on your feet is just as important as what you put inside
          your body,so we are a company that is structured to give you the best
          designs of leather works that would suit all occasions from shoes,
          wallets, belts, slippers to sandals as well
        </h3>
      </div>

      <img
        class="images"
        src="/public/images/black-leather-shoe-edited.jpg"
        alt="mature-men"
      />

      <div class="block-quote">
        <h3>
          Our products are hand crafted here in the heart of Nigeria - Lagos
          City,with materials that have been tested overtime. As a fashion brand
          we believe in making our customers stand tall with a sense of
          integrity poise and pride. As you indulge yourself in our products, we
          encourage you to make better choices using made in Nigeria good
          starting with blw247.
        </h3>
      </div>

      <img
        class="images"
        src="/public/images/purple-sandals.jpg"
        alt="mature-men"
      />

      <div class="title">---- OUR PRODUCTS</div>

      <div>
        <ul class="list">
          <li>Shoes</li>
          <li>Slippers</li>
          <li>Sandals</li>
          <li>Wallets</li>
          <li>Purses</li>
          <li>Earings</li>
          <li>Keyholders</li>
          <li>
            As long as it has to do with leather we would be sure to deliver the
            best of what you desire
          </li>
        </ul>
      </div>

      <div class="buttons">
        <div class="place-order"><a href="">Place Your Order?</a></div>
        <div class="place-order">
          <a href="/gallery">Check-Out Our Gallery</a>
        </div>
      </div>

      <div class="title">---- DELIVERY</div>

      <div class="block-quote">
        <h3>
          Deliveries are based on when payment is made as we run a bespoke
          company. 70% of the total amout is expected to be paid so we purchase
          materials and start the selected product. Upon confirmsation of
          payment delivery takes 10 working days starting from the day payment
          is made. Please note that this is within Lagos.
          <h3>
            Deliveries outside Lagos require full payment of any selected
            product and would take 15 working days to deliver. Please note that
            delivery fees apply.
          </h3>
        </h3>
      </div>
    </main>

    <footer class="footer">
      <div class="bottom-block">
        <p class="copyright">Copyright &copy; 2018</p>
        <ul class="footer-nav">
          <li>Home</li>
          <li>Service</li>
          <li>Gallery</li>
          <li>Contact</li>
          <li>How to Order</li>
          <li>View Cart</li>
          <li>Delivery Policy</li>
          <li class="last-li">Return</li>
        </ul>

        <div class="foot-icons">
          <a href="#"><i class="fab fa-facebook foot"></i></a>
          <a href="#"><i class="fab fa-twitter foot"></i></a>
          <a href="#"><i class="fab fa-instagram foot"></i></a>
        </div>
      </div>
    </footer>
  </body>
  <script src="js\jquery-3.3.1.js"></script>
  <script src="js/slide.js"></script>
  <script src="/public/js/main.js"></script>
</html>
