@import url('https://fonts.googleapis.com/css?family=Anton|Dokdo|Lato|Pacifico|Allan');


* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: whitesmoke;
}

.logo {
  border: 5px yellow solid;
  border-radius: 50%;
  width: 60%;
}

.col-12.col-lg-8 .lg-heading {
    font-size: 5rem;
    font-weight: bolder;
    text-align: left;
}

.lg-heading small {
    font-size: 32px;
}

.motto {
    font-style: italic;
}

/* Carousel */
.carousel-pics {
    width: 100%;
    height: 350px;
}


.h1-text {
    font-family: Anton, sans-serif;
    font-weight: bold; 
}

.types {
    background: gold;
}

h3.text-center {
    font-family: Allan cursive;
    font-weight: bolder;
}
p.text-center {
    font-family: Dokdo cursive;
    font-size: 18px;
}

.p-2.bd-highlight {
    background: white;
    font-family: Anton, sans-serif;
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    width: 30%;
    text-decoration: none;
    z-index: -0.5;

}

.p-2.bd-highlight.lw {
    font-size: 12px;
}

.p-2.bd-highlight:hover {
    width: 35%;
    z-index: 3;
    padding: 0.5rem, 0.3rem;
    font-size: 1.2rem;
    transition: 0.5s;
}

.card__image {
    height: 400px;
}

/* Service Page Styling */
.blockquote {
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
}

.title {
    position: relative;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 26px;
  }

.images {
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

.list-group-item {
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 3%;
    right: 3%;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .buttons a {
    font-size: 1.2rem;
    border: 3px solid black;
    padding: 1.5rem 2.5rem;
    color: black;
    background: white 2px solid;
}
  

  .buttons a:hover {
      background: black;
      color: white;
      text-decoration: none;
  }


  /* Contact Page Styling */
.d-flex.flex-column .address {
    color: white;
    background: black;
    margin: 20px 20px;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid yellow;
    text-align: center;
}

.d-flex.flex-column .address:hover {
    transition: 1s;
    padding: 0.1rem 0.5rem;
     z-index: 2;
    font-size: 2.5rem;
}

.d-flex.flex-column .address span {
    color: gold;
}

.days-open {
    margin-left: 15%;
    font-weight: bolder;
    margin-bottom: 20%;
}

/* Gallery & Shop Page Styling */
.shop-pic {
  width: 100%;
  height: 250px
}

/* Product PAge Styling */
.prod-picture {
    width: 400px;
    height:350px;
}

.text {
    font-family: Lato, sans-serif;
    font-size: 24px;
}

.list {
    font-family: Lato, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 2;
}


/* Cart Page Styling */
.cart-image {
    width: 100px;
    height: 100px;
}


.panel-footer {
    border-bottom: 2px solid darkgrey;
}
/* Footer bottom-block footer-nav*/
.bottom-block {
    width: 100%;
    height: 50%;
    margin: 0 0;
  }
  
  .copyright {
    color: white;
    margin-left: 9vh;
  }
  .footer-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;
    margin: 60px 20px 20px 20px;
    justify-content: space-evenly;
  }
  
  .footer-nav li {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15px;
    padding: 10px 30px;
    border-right: white 1px solid;
  }
  .footer-nav .last-li {
    border-right: none;
  }
  .foot-icons {
    position: relative;
    left: 40%;
    margin-bottom: 100px;
  }
  
  .fab.foot {
    color: white;
    width: 10%;
  }
  


  /* Media Query */

  /* For tablets and mini-ipads */
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .col-12.col-lg-8  .lg-heading{
        font-size: 54px;
    }

    .lg-heading small {
        font-size: 14px;
    }
    .motto {
        font-size: 14px;
    }
    
    .d-flex.flex-column address {
        font-size: 24px;
        padding: 0.5rem 0.5rem;
    }

    .footer-nav li {
        font-size: 12px;
        text-align: center;
        border-right: none;
      }
      .footer-nav .last-li {
        border-right: none;
      }
  }



  /* Phones and Iphones */
  @media screen and (min-width: 320px) and (max-width: 767px) {
     .motto {
         font-size: 14px;
     }

     .days-open {
        margin-left: 0%;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 20%;
    }

    .d-flex.flex-column .address {
        margin: 0% 0%;
        font-size: 18px;
    }

    .copyright {
        margin-left: 2%;
    }
    .footer-nav {
        display: flex;
        flex-flow: column;
        align-items: left;
        list-style: none;
        margin: 60px 20px 20px 5px;
        justify-content: space-evenly;
      }

      .footer-nav li {
        font-size: 12px;
        text-align: center;
        border-right: none;
      }
      .footer-nav .last-li {
        border-right: none;
      }
    
  }