<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign-Up</title>
  </head>
  <body>
    <h1>Have an Account with us and make your shopping experience easier</h1>
  </body>
</html>
