<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign-Up</title>
</head>

<link rel="stylesheet" href="/public/css/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<body>
  
    <header>
      <div class="container">
          <div class="container mt-5">
              <div class="row">
                  <div class="col-12 col-sm-4 col-lg-4 auto mx-xs-auto">
  
                      <img src="/public/images/bullock-logo.jpg" alt="logo" class="logo">
                  </div>
                  <div class="col-12 col-sm-6 col-lg-8">
                      <h1 class="lg-heading">Bullock<small>  Leather Works</small></h1>
                      <h3 class="motto">Exquisitely Unique</h3>
                  </div>
              </div>
              
          </div>
          
      </div>
      <hr>
    </header>


    <main>
  <div class="container my-5">
    <% messages('message', locals) %>

    <% if (errors) { %>
         <% for (var err in errors) { %>
            <div class="alert alert-danger"><%= errors[err].msg %></div>
         <% } %>
      <% } %>
    <h1 class="text-center">Sign-Up Form</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <form action="/users/signup" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control rounded-0">
              </div>
      
              <div class="form-group">
                  <label for="firstname">FirstName</label>
                  <input type="text" name="firstname" class="form-control rounded-0">
                </div>
      
            <div class="form-group">
                <label for="lastname">LastName</label>
                <input type="text" name="lastname" class="form-control rounded-0">
              </div>

              <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" name="username" class="form-control rounded-0">
              </div>
      
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control rounded-0">
                </div>
            
                <div class="form-group">
                    <label for="password2">Re-enter Password</label>
                    <input type="password" name="password2" class="form-control rounded-0">
                  </div>
      
                  <p class="text-capitalize font-weight-bold">Enter Your Address Details</p>
                  <div class="form-group">
                      <label for="Street">Street</label>
                      <input type="text" name="street" class="form-control rounded-0" placeholder="eg: No 5, Bullock Street">
                    </div>
      
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" name="city" class="form-control rounded-0">
                      </div>
      
                      <div class="form-group">
                          <label for="state">State</label>
                          <input type="text" name="state" class="form-control rounded-0">
                        </div>
      
                        <div class="form-group">
                            <label for="phoneNo">Phone Number</label>
                            <input type="text" name="phoneNo" class="form-control rounded-0">
                          </div>
                          <div class="form-group">
                              <label for="phoneNo2">Phone Number 2</label>
                              <input type="text" name="phoneNo2" class="form-control rounded-0">
                            </div>
                                        
      
                      <button type="submit" class="btn btn-block">Send</button>

        </form>
        
                
        
      
    
  
      </div>   
  </div>
  </div>
  </main>
  








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    </html>